.WeatherForecast-title {
    font-weight: 600;
    text-align: center;
    font-size: 30px;
  }
  
  .WeatherForecast {
    text-align: center;
  }
  
  .WeatherForecast-temperature-max {
    font-weight: bold;
  }